<div class="col-md-4 mb-4">
            <div class="photo bg-white border rounded">
                <div class="photo-header py-3 px-4 d-flex align-items-center">
                    <span class="photo-username font-weight-bold">
                        <a href="{% url 'accounts:profile' photo.author.pk %}">{{ photo.author.username }}</a>
                    </span>
                    {% if request.user == photo.author or perms.webapp.change_photo %}
                        <a href="{% url 'webapp:photo_update' photo.pk %}" class="ms-auto">Редактировать</a>
                    {% endif %}
                    {% if request.user == photo.author or perms.webapp.delete_photo %}
                        <a href="{% url 'webapp:photo_delete' photo.pk %}" class="ms-auto">Удалить</a>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'webapp:photo_view' photo.pk %}">
                        <img class="figure-img img-fluid rounded" src="{{ photo.image.url }}" style="max-height: 300px;" alt="Photo Image">
                        <div class="photo-description px-4 py-3">
                            <p>{{ photo.caption }}</p>
                        </div>
                        <div class="photo-timestamp px-4 py-2 text-muted">{{ photo.created_at }}</div>
                    </a>
                    <button data-post-id="{{ photo.id }}" data-js="like-button"><i class="bi bi-heart"></i></button>
                {% else %}
                    <img class="photo-image img-fluid rounded" src="{{ photo.image.url }}" style="max-height: 300px;" alt="Photo Image">
                    <div class="photo-description px-4 py-3">
                        <p>{{ photo.caption }}</p>
                    </div>
                    <div class="photo-timestamp px-4 py-2 text-muted">{{ photo.created_at }}</div>
                {% endif %}
            </div>
        </div>